{% extends "layout.html" %}
{% block title %}ToDo{% endblock %}
{% block content %}
    {% if 'email' in session %}
        <h1>Hello {{ user.firstname }}</h1>
        <div class="row">
            <div class="col-md-12">
                <h4>Add A Project</h4>
                <form  action="{{ url_for('add_project') }}" method="post">
                    <input id="addproject" name="project_name">
                    <input type="submit" value="Add">
                </form>
            </div>
        </div>
        {% for project in projects %}
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#move{{project.pid}}" href="#collapse{{project.pid}}">
                            {{ project.name }}
                        </a>
                        </h4>
                    </div>
                    <div id="collapse{{project.pid}}" class="panel-collapse collapse 
                    in ">
                        <div id="move{{project.pid}}" class="panel-body table-responsive">
                            <div class="row">
                                <div class="col-md-3">
                                    <h5>Add an item to your project</h5>
                                    <form action="{{ url_for('add_item')}}" method="post">
                                        <input name="item_description">
                                        <input name="projectid" value="{{ project.pid }}" type="hidden">
                                        <input type="submit" value="Add">
                                    </form>
                                </div>
                                <div class="col-md-3">
                                    <h5>Add a link</h5>
                                    <form action="{{ url_for('add_link') }}" method="post">
                                        <input name="projectid" value="{{ project.pid }}" type="hidden">
                                        <input name="url">
                                        <input type="submit">
                                    </form>
                                </div>
                                <div class="col-md-3">
                                    <form action="{{ url_for('open_links', pid=project.pid)}}" method="POST">
                                    <button type="submit" class="btn btn-default">Open Links</button>
                                    </form>
                                </div>
                                <div class="col-md-3">
                                    <a href="{{ url_for('project', pid=project.pid)}}" class="btn btn-info" role="button">Edit Links</a>
                                </div>
                                
                            </div>
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Task</th>
                                        <th>Date Added</th>
                                        <th>Resolve</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        {% for item in items %}
                                            {% if item.pid == project.pid %}
                                                {% if item.state == "Open" %}
                                                    <td>{{item.description}}</td>
                                                    <td>{{item.opened_at}}</td>
                                                    <td>
                                                        <form action="{{ url_for('resolve_item')}}" method="post">
                                                            <input name="itemid" value="{{ item.id }}" type="hidden">
                                                            <input type="submit" value="Resolve">
                                                        </form>
                                                    </td>
                                                    <td>
                                                        <form action="{{ url_for('delete_item')}}" method="post">
                                                            <input name="itemid" value="{{ item.id }}" type="hidden">
                                                            <input type="submit" value="Delete">
                                                        </form>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                            <a onclick="toggler(resolved{{ project.pid }})">Resolved</a>
                            <table class="table table-bordered table-hover" id="resolved{{project.pid}}" style="display:none;">
                                <thead>
                                    <tr>
                                        <th>Task</th>
                                        <th>Date Added</th>
                                        <th>Resolve</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        {% for item in items %}
                                            {% if item.pid == project.pid %}
                                                {% if item.state == "Resolved" %}
                                                    <td>{{item.description}}</td>
                                                    <td>{{item.opened_at}}</td>
                                                    <td>
                                                        <form action="{{ url_for('resolve_item')}}" method="post">
                                                            <input name="itemid" value="{{ item.id }}" type="hidden">
                                                            <input type="submit" value="Resolve">
                                                        </form>
                                                    </td>
                                                    <td>
                                                        <form action="{{ url_for('delete_item')}}" method="post">
                                                            <input name="itemid" value="{{ item.id }}" type="hidden">
                                                            <input type="submit" value="Delete">
                                                        </form>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endfor %}
                
            {% else %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="jumbotron">
                            <h1>MultiPage.me</h1>
                            <p>Welcome to Multipage.me. Signup or signin to revolutionize your workflow.</p>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endblock %}