{% extends "layout.html" %}
{% block title %}MultiPage{% endblock %}
{% block sign_in %}
    <form action="{{ url_for('signin') }}" method="post" class="navbar-form navbar-right">
        {{ signin_form.hidden_tag() }}
        Email:
        {{ signin_form.email(class_="form-control") }}
        Password:
        {{ signin_form.password(class_="form-control") }}
        {{ signin_form.submit(class_="form-control btn-sm") }}
    </form>
{% endblock %}
{% block content %}
        <div class="row">
            <div class="col-md-6">
                <div class="page-header">
                    <h1>MultiPage.me</h1>
                    <h2>Optomize your workflow</h2>
                </div>
                
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="#">
                            <span class="glyphicon glyphicon-th-list" ></span>
                        </a>
                    </div>
                    <div class="media-body media-right">
                        <h4 class="media-heading">Project Organization</h4>
                        <p>Custom projects with unique workspaces</p>
                    </div><br>
                    <div class="media-left media-middle">
                        <a href="#">
                            <span class="glyphicon glyphicon-link" ></span>
                        </a>
                    </div>
                    <div class="media-body media-right">
                        <h4 class="media-heading">Link Management</h4>
                        <p>Project specific links and bulk opening functionality</p>
                    </div><br>
                    <div class="media-left media-middle">
                        <a href="#">
                            <span class="glyphicon glyphicon-ok" ></span>
                        </a>
                    </div>
                    <div class="media-body media-right">
                        <h4 class="media-heading">Custom ToDo Lists</h4>
                        <p>A master todo list combined with seperate project based ones</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h3>Sign up</h3>
                
                {% for message in signup_form.firstname.errors %}
                    <div class="flash">{{ message }}</div>
                {% endfor %}
                
                {% for message in signup_form.lastname.errors %}
                    <div class="flash">{{ message }}</div>
                {% endfor %}
                
                {% for message in signup_form.email.errors %}
                    <div class="flash">{{ message }}</div>
                {% endfor %}
                
                {% for message in signup_form.password.errors %}
                    <div class="flash">{{ message }}</div>
                {% endfor %}
                <form action="{{ url_for('signup') }}" method="post">
                    {{ signup_form.hidden_tag() }}
                    <div class="form-group">
                        {{ signup_form.firstname.label }}
                        {{ signup_form.firstname(class_="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ signup_form.lastname.label }}
                        {{ signup_form.lastname(class_="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ signup_form.email.label }}
                        {{ signup_form.email(class_="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ signup_form.password.label }}
                        {{ signup_form.password(class_="form-control") }}
                    </div>
                    <br>
                    {{ signup_form.submit(class_="btn btn-default") }}
                </form>
            </div>
        </div>



        {% endblock %}